blinker==1.8.2
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
et-xmlfile==1.1.0
Flask==3.0.3
google-auth==2.29.0
google-auth-oauthlib==1.2.0
gspread==6.1.2
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.2
pandas==2.2.2
ploomes-api-client @ file:///C:/Python/venv/Scripts/ploomes_api_client-0.2.114-py3-none-any.whl#sha256=8415ba2d631667824cdc2e85919e96cfd1ec55316cf1f8f31c078e56e3038165
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
ratelimit==2.2.1
requests==2.32.2
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
